<ion-view title = "详情页">
    <ion-header-bar align-title = "center" class="bar-positive">
        <div class="buttons">
            <button ng-click="goBack()" class="button">返回</button>
        </div>
        <h1 class="title title-center">详情页</h1>
    </ion-header-bar>
    <ion-content>
        <ion-item>
            <p>姓名：{{obj.Name}}</p>
            <p>城市：{{obj.City}}</p>
            <p>国家：{{obj.Country}}</p>
            <p>年龄：{{obj.Age}}</p>
        </ion-item>
    </ion-content>
</ion-view>